<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h2> Login : </h2>

  <form (submit)="login()" #userForm='ngForm'>

    <p>Username :  <input type='text' name='name'
    required 
    minlength="1"
    [(ngModel)]='new_user.name'
    #name="ngModel"></p>
    <span *ngIf='name.errors?.required'>Name is required</span>
    <span *ngIf='name.errors?.minlength'>Minimum length is {{name.errors.minlength.requiredLength}}</span> 
  
    <p><input type='submit' value='Submit' [disabled]='!userForm.valid'></p>

  </form>

</body>
</html>